/*margin的样式初始化*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin:0;
}

/*padding的样式初始化*/
ul,ol,td,th {
	padding:0;
}

/*列表的样式初始化*/
ul,ol,li {
	list-style:none;
}

/*font-style的样式初始化*/
em {
	font-style: normal;
}

/*下划线的样式初始化*/
a {
	text-decoration: none;
}

/*table的样式初始化*/
table {
	border-collapse: collapse;
}

/*表单元素的初始化*/
input {
	margin:0;
	padding:0;
	outline: none;
}
option {
	padding:0;
}
textarea {
	padding:0;
	resize:none;
	outline: none;
}

/*BFC的方法*/
.clear:after{
	content: "";display: block;clear: both;
}
clear {
	zoom:1;
}


